<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Unit Converter</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <h1>Unit Converter</h1>

<!--    <button>Length</button>-->
<!--    <button>Weight</button>-->
<!--    <button>Temperature</button>-->

    <form action="/convert" method="post">
        <label for="amount">Enter the length to convert</label>
        <input type="number" name="amount" id="amount" required>
        <select name="currency" id="">
            <option value="USD">USD to EUR</option>
            <option value="EUR">EUR to USD</option>
        </select>
        <button type="submit">Convert</button>
    </form>

    <div th:if="${result}">
        <p>Converted Amount: <span th:text="${result}"></span></p>
    </div>
</body>
</html>